@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/****************/
/***** MISC *****/
/****************/

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: #25262a;
  color: white;
}

.container-fluid {
  width: inherit !important;
}

/***************/
/***** NAV *****/
/***************/

.portfolio-nav {
  display: flex;
  padding: 1.1rem 5rem;
  background-color: #2d2e32;
}

.portfolio-nav-row {
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
  width: 100%;
}

.portfolio-nav-logo {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.portfolio-nav-skills {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin-left: 2rem;
  font-size: .9rem;
  white-space: nowrap;
}

.skills {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.skill {
  border: none;
  border-radius: .2rem;
  padding: .5rem 1rem;
  color: white;
  font-size: .8rem;
  font-weight: 600;
  background-color: #4dba87;
  margin: .5rem;
}

/*********************/
/***** PORTFOLIO *****/
/*********************/

.portfolio {
  padding: 5rem;
}

.portfolio-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-card {
  background-color: #2d2e32;
  padding: 2rem;
  border-radius: .5rem;
  margin-top: .5rem;
  color: white;
  text-decoration: none;
}

.portfolio-card:hover {
  background-image: linear-gradient(to right, #2d2e32 , 85%, #4dba87);
}

.portfolio-card svg {
  align-self: center;
  stroke: #4dba87;
}

.portfolio-card:hover svg {
  stroke: white;
}

.portfolio-card-header {
  display: flex;
  justify-content: space-between;
}

.portfolio-card-title {
  color: #4dba87;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .3rem;
}

.portfolio-card-description {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.portfolio-card-lang {
  color: #777;
  text-decoration: underline;
  font-size: .8rem;
  text-transform: uppercase;
}

.portfolio-bio {
  padding: 2rem;
}

.portfolio-bio-head {
  color: #777;
}

.portfolio-bio-subtitle {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 100;
  color: #4dba87;
}

.portfolio-bio-description {
  color: #777;
  line-height: 2rem;
  text-align: justify;
}

/*****************/
/***** MEDIA *****/
/*****************/

@media (max-width: 768px) {
  .portfolio-nav {
    justify-content: center;
    padding: 1rem;
  }

  .portfolio-nav-row {
    padding: 0 2rem;
  }

  .portfolio-nav-logo {
    justify-content: center;
  }

  .portfolio-nav-skills {
    text-align: center;
  }

  .skills {
    padding: 1rem;
    justify-content: center;
  }

  .portfolio {
    padding: 1rem;
  }
}
